.dialogs {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.dialogItems {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	border-right: 2px solid #333;
}

.dialog {
	font-size: 18px;
	font-weight: 600;
}

.dialogContent {}