.title {
	margin: 0 0 15px 0;
	padding: 0 0 0 80px;
}

.dialogs {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.dialogItems {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	border-right: 3px solid #767676;
}

.dialog {
	display: block;
	padding: 15px 0 15px 80px;
	color: #333;
	transition: 0.5s;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
}

.dialogContent {
	padding: 0 30px;
}