.header {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.person {
	margin-top: -150px;
	padding: 0 100px 20px;
	display: flex;
	align-items: flex-end;
}

.avatar {
	width: 200px;
	height: 250px;
	object-fit: cover;
	border: 3px solid #ffffff;
}

.about {
	margin-left: 50px;
}

.name {
	font-size: 35px;
	margin: 0 0 10px;
	letter-spacing: 2px;
}

p {
	margin: 0;
}