.sidebar {
	grid-area: sidebar;
	background-color: #212121;
	padding: 15px;
	height: 100%;
}

nav ul {
	padding-left: 15px;
}

nav ul li {
	list-style-type: none;
}

li:not(:last-child) {
	margin-bottom: 20px;
}

.link {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	transition: 0.5s;
}

.link:hover {
	color: #e33f3f;
}