.post {
	display: flex;
	gap: 30px;
	margin-bottom: 30px;
}

.ava {
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 50%;
}

.sender {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text {
	font-weight: 200;
	font-size: 25px;
}

.name,
.likesCount {
	font-weight: 600;
	font-size: 16px;
	color: #333;
}

.likes {
	margin-left: auto;
	align-self: flex-end;
	display: flex;
}

.likeIcon {
	width: 29px;
	height: 20px;
	position: relative;
}

.likeIcon::before,
.likeIcon::after {
	content: '';
	height: 20px;
	width: 12px;
	border-radius: 6px 6px 0 0;
	background-color: #435fe7;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-45deg);
}

.likeIcon::after {
	transform: rotate(45deg);
	left: 6px;
}