* {
	box-sizing: border-box;
}

.container {
	padding: 0 40px;
}

.app-wrapper {
	margin: 0 auto;
	max-width: 1150px;
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-template-areas:
		'header header'
		'sidebar content';
	grid-gap: 10px;
}