@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.container {
	padding: 0 100px;
}

.app-wrapper {
	margin: 0 auto;
	max-width: 1150px;
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-template-areas:
		'header header'
		'sidebar content';
	grid-gap: 10px;
}

.active {
	background-color: #e33f3f1e;
	position: relative;
}

.active::after {
	content: '';
	height: 100%;
	width: 3px;
	background-color: #e33f3f;
	position: absolute;
	top: 0;
	right: 0;
}

[class*='Button']:hover {
	background-color: #e33f3f;
	color: #ffffff;
}