.app-wrapper {
  margin: 0 auto;
  max-width: 1150px;
  display: grid;
}

.header {
  background-color: #d9d9d9;
  padding: 15px;
}

header img {
  height: 30px;
  width: auto;
}

.sidebar {
  background-color: #333333;
  color: #ffffff;
}

.content {
  background-color: #ffffff;
}
